@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService




@if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded)
{
    <li class="nav-item">
        <div class="dropdown">
            <span class="nav-link text-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Usuarios</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Receipts" asp-action="Index">Boletas</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Emails" asp-action="Index">E-mails</a></li>
            </ul>
        </div>
    </li>
}

