@model EstadioAAAWeb.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás segur@@ que deseas eliminar el Ticket?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRUT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRUT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.EventUUID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TicketUUID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
